doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='Make a Post')
    meta(name='description' content='')
    title Bird Go
    link(rel='stylesheet' href='../styles/nicepage.css' media='screen')
    link(rel='stylesheet' href='../styles/create.css' media='screen')
    meta(name='generator' content='Nicepage 5.9.10, nicepage.com')
    meta(name='referrer' content='origin')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Post')
    meta(property='og:type' content='website')
    meta(data-intl-tel-input-cdn-path='intlTelInput/')
    script(type='module' src='../scripts/createPost.js' defer)
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-6d9d.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        nav#main-nav.nx
    section#sec-7217.u-align-center.u-clearfix.u-grey-70.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        .u-align-center.u-container-style.u-expanded-width-xs.u-grey-5.u-group.u-radius-50.u-shape-round.u-group-1
          .u-container-layout.u-valign-bottom-md.u-valign-bottom-sm.u-valign-bottom-xs.u-container-layout-1
            h2.u-custom-font.u-font-playfair-display.u-text.u-text-body-color.u-text-1
              | Submit 
              span(style='font-weight: 700;') a New
              |  Sighting
            .u-expanded-width-lg.u-form.u-form-1
              //- form.u-clearfix.u-form-spacing-26.u-form-vertical.u-inner-form#create-form(aria-describedby='new-post' style='padding: 10px;')
              //-   .u-form-group.u-form-name
              //-     label.u-label(for='species') Species
              //-     input#species.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter the Species' name='species' required)
              //-   .u-form-email.u-form-group
              //-     label.u-label(for='area') Location
              //-     input#area.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter a Location' name='area' required)
              //-   .u-form-group.u-form-group-3
              //-     label.u-label(for='img_url') Photo
              //-     input#text-fbee.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter Image URL' name='img_url' required)
              //-   .u-form-group.u-form-group-4
              //-     label.u-label(for='date') Date
              //-     input#date.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter Date' name='date' required)
              //-   .u-form-group.u-form-number.u-form-number-layout-number.u-form-group-5
              //-     label.u-label(for='rating') Identification Confidence Rating
              //-     .u-input-row
              //-       input#rating.u-input.u-input-rectangle.u-radius-12.u-text-black.u-white(min='1' max='10' step='1' type='number' placeholder='1 — 10' name='rating' required)
              //-   .u-form-group.u-form-message
              //-     label.u-label(for='caption') Caption
              //-     textarea#caption.u-input.u-input-rectangle.u-radius-12(placeholder='Enter your caption' rows='4' cols='50' name='caption' type='text' required)
              //-   .u-align-left.u-form-group.u-form-submit
              //-     button.u-active-palette-2-light-1.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-light-1.u-palette-2-base.u-radius-12.u-btn-1(type='submit') Create Post
    footer#sec-62ed.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
      .u-clearfix.u-sheet.u-sheet-1
        p.u-small-text.u-text.u-text-variant.u-text-1 ©BirdGo 2023
        p.u-small-text.u-text.u-text-variant.u-text-1 Contact us on LinkedIn and GitHub:
        p.u-small-text.u-text.u-text-variant.u-text-1 
          a(href='https://www.linkedin.com/in/kristen-i-santos/' target="_blank") Kristen 
          a(href='https://github.com/KristenSantos' target="_blank") Santos 
        p.u-small-text.u-text.u-text-variant.u-text-1 
          a(href='https://www.linkedin.com/in/castro-julian/' target="_blank") Julian 
          a(href='https://github.com/jcp215033' target="_blank") Castro 
