doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../styles/style.css')
    script(type='module' src='../scripts/createPost.js')
    title Sign Up
  body
    nav#main-nav
      ul
        li
          a(href='/') Home
        li
          a(href='/home/me') Profile
    main
      h1#new-post Create Post
      form#create-form(aria-describedby='new-post')
        label(for='species') species
        input#species(type='text' name='species' required)
        label(for='area') location
        input#area(type='text' name='area' required)
        label(for='img_url') img_url
        input#img_url(type='text' name='img_url' required)
        label(for='date' ) date
        input#date(type='text' name='date' required)
        label(for='rating') rating
        input#rating(type='number' name='rating' min="1" max="10" required)
        label(for='caption') caption
        input#caption(type='text' name='caption' required)
        button(type='submit') Create Post
