doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../styles/style.css')
    script(type='module' src='../scripts/create.js')
    title Sign Up
  body
    nav#main-nav
    main
      h1#sign-up Sign Up Today!
      form#create-form(aria-describedby='sign-up')
        label(for='username') Username
        input#username(type='text' name='username' autocomplete='username' required)
        label(for='password') Password
        input#password(type='password' name='password' autocomplete='password' required)
        label(for='name') Name
        input#name(type='text' name='name' autocomplete='name' required)
        label(for='region') Region
        input#region(type='text' name='region' autocomplete='region' required)
        label(for='bio') Bio
        input#bio(type='text' name='bio' autocomplete='bio' required)
        button(type='submit') Create User
