doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='Join our community')
    meta(name='description' content='')
    title Sign-up
    link(rel='stylesheet' href='../../styles/nicepage.css' media='screen')
    link(rel='stylesheet' href='../../styles/signup.css' media='screen')
    meta(name='generator' content='Nicepage 5.9.10, nicepage.com')
    meta(name='referrer' content='origin')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Sign-up')
    meta(property='og:type' content='website')
    meta(data-intl-tel-input-cdn-path='intlTelInput/')
    script(type='module' src='../scripts/create.js' defer)

  body.u-body.u-xl-mode(data-lang='en')
    header#sec-6d9d.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        nav#main-nav.nx
    section#sec-37c0.u-clearfix.u-custom-color-1.u-section-1
      .u-clearfix.u-sheet.u-valign-middle-lg.u-sheet-1
        .u-align-center.u-container-style.u-expanded-width-md.u-expanded-width-sm.u-expanded-width-xs.u-grey-5.u-group.u-radius-50.u-shape-round.u-group-1
          .u-container-layout.u-container-layout-1
            h2.u-text.u-text-body-color.u-text-default.u-text-1 Join our community
            .u-form.u-form-1
              form#create-form.u-clearfix.u-form-spacing-26.u-form-vertical.u-inner-form(aria-describedby='sign-up' style='padding: 10px;')
                .u-form-group.u-form-name
                  label.u-label(for='username') Username
                  input#username.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter a Username' name='username' autocomplete='username' required)
                .u-form-email.u-form-group
                  label.u-label(for='password') Password
                  input#password.u-input.u-input-rectangle.u-radius-12(type='password' placeholder='Create a password' name='password' autocomplete='name' required)
                .u-form-group.u-form-group-3
                  label.u-label(for='name') Name
                  input#name.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter your Name' name='name' autocomplete='name' required)
                .u-form-group.u-form-group-4
                  label.u-label(for='region') Region
                  input#region.u-input.u-input-rectangle.u-radius-12(type='text' placeholder='Enter your region' name='region' autocomplete='region' required)
                .u-form-group.u-form-message
                  label.u-label(for='bio') Bio
                  textarea#bio.u-input.u-input-rectangle.u-radius-12(placeholder='Enter your Bio' rows='4' cols='50' name='bio' required='')
                .u-align-center.u-form-group.u-form-submit
                  button.u-active-palette-2-light-1.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-light-1.u-palette-2-base.u-radius-12.u-btn-1(type='submit') Create User
                  button.u-form-control-hidden(type='submit' value='submit')
                .u-align-center.u-form-group.u-form-submit
                  a.u-active-palette-2-light-1.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-light-1.u-palette-2-base.u-radius-12.u-btn-1(href='/home/login') Already A User?
    footer#sec-62ed.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
      .u-clearfix.u-sheet.u-sheet-1
        p.u-small-text.u-text.u-text-variant.u-text-1 ©BirdGo 2023
        p.u-small-text.u-text.u-text-variant.u-text-1 Contact us on LinkedIn and GitHub:
        p.u-small-text.u-text.u-text-variant.u-text-1 
          a(href='https://www.linkedin.com/in/kristen-i-santos/' target="_blank") Kristen 
          a(href='https://github.com/KristenSantos' target="_blank") Santos 
        p.u-small-text.u-text.u-text-variant.u-text-1 
          a(href='https://www.linkedin.com/in/castro-julian/' target="_blank") Julian 
          a(href='https://github.com/jcp215033' target="_blank") Castro 
