.u-section-1 {
  background-image: url("https://getwallpapers.com/wallpaper/full/e/f/a/741453-beautiful-bird-desktop-wallpaper-1920x1263-ipad.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 329px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 377px;
  margin: 56px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 56px auto 60px;
  padding: 17px 44px 18px 42px;
}

.nx {
  height: 2rem;
}

.nx ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nx ul li:first-child {
  flex-grow: 1;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 276px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1772px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 316px;
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-2 {
    width: 513px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 232px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 88px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 33px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }
}